.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(45,45,45,0.98);
  height: 50px; 
}

.link {
  color: white;
  text-decoration: none;
}

.sub-nav {
  background-color: lightgrey;
}

.sublink {
  color: rgba(45,45,45,0.98);
  text-decoration: none;
}
